body {
  background-image: url("https://images.unsplash.com/photo-1572816703439-d8b34c4dc93f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1034&q=80");
  background-color: red;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
  width: 16vw;
}
.header {
  display: flex;
}
.box {
  height: 40vh;
  width: 120vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("https://www.nasa.gov/sites/default/files/styles/full_width/public/thumbnails/image/web_first_images_release_0.png?itok=eP3obzhq");
  margin-bottom: 10px;
}
.container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.encabezado {
  background-image: url("https://images.unsplash.com/photo-1658901097893-cfe9605ca208?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=892&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 800;
  display: flex;
  height: 10vh;
  width: 40vw;
  border: 2px solid black;
  opacity: 0.6;
}
.menu1 {
  background-image: url("https://images.unsplash.com/photo-1658778176925-e0027cd4259a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 24px;
  display: flex;
  height: 15vh;
  width: 50vw;
  margin-bottom: 10px;
}
.container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  background-image: url("https://images.unsplash.com/photo-1659039807594-358e61bdfb5c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 24px;
  display: flex;
  height: 15vh;
  width: 20vw;
  margin-left: 5px;
  margin-bottom: 5px;
}
.menu2 {
  background-image: url("https://images.unsplash.com/photo-1641058910494-b441de2d5bf7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=932&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 24px;
  display: flex;
  height: 15vh;
  width: 60vw;
}
article {
  background-image: url("https://images.unsplash.com/photo-1660050032552-5f97b27e6f00?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8Ym84alFLVGFFMFl8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  height: 40vh;
  width: 120vw;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.izquierda {
  background-image: url("https://images.unsplash.com/photo-1659985555951-ad76d1003d59?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDd8Ym84alFLVGFFMFl8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  height: 40vh;
  width: 30vw;
  display: flex;
  flex-direction: row;
  margin-right: 15px;
}

.centro {
  background-image: url("https://images.unsplash.com/photo-1659662393068-3c526a8e91c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE3fGJvOGpRS1RhRTBZfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  height: 40vh;
  width: 30vw;
  display: flex;
  flex-direction: row;
  margin-right: 15px;
}
.derecha {
  background-image: url("https://images.unsplash.com/photo-1659615147760-3ed6c42f3dbf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDIzfGJvOGpRS1RhRTBZfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  height: 40vh;
  width: 30vw;
  display: flex;
  flex-direction: row;
}
aside {
  background-image: url("https://images.unsplash.com/photo-1660050032552-5f97b27e6f00?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8Ym84alFLVGFFMFl8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  height: 40vh;
  width: 120vw;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-between;
}
.izquierda2 {
  background-image: url("https://images.unsplash.com/photo-1659379851615-8d2e78446b21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDQzfGJvOGpRS1RhRTBZfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  height: 40vh;
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.derecha2 {
  background-image: url("https://images.unsplash.com/photo-1659292553629-ca0fe1d3b538?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDUyfGJvOGpRS1RhRTBZfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  height: 40vh;
  width: 45vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pie {
  height: 40vh;
  width: 120vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("https://www.nasa.gov/sites/default/files/styles/full_width/public/thumbnails/image/web_first_images_release_0.png?itok=eP3obzhq");
}
.elemento {
  background-image: url("https://images.unsplash.com/photo-1658778176925-e0027cd4259a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 24px;
  display: flex;
  height: 20vh;
  width: 50vw;
  margin-left: 620px;
}
